// .clearfix::before,
// .clearfix::after {
//   content: "";
//   display: table;
// }
// .clearfix::after {
//   clear: both;
// }
// .clearfix {
//   clear: both;
//   *zoom: 1;
// }
.clearfix::before,
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}