<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Widget</title>
	<link rel="stylesheet" href="../styles/index.css" />
	<style>
		body {
			margin-top: 20px;
		}
	</style>
</head>
<body>
		<div class="adventages clearfix">
			<section class="adventage">
				<div class="icon-wrapper">
					<img src="../styles/assets/icons/ui.png" alt="Engaging interfaces" class="icon">
				</div>
				<h3>Engaging interfaces</h3>
				<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui sagittis.</p>
				<a href="#" class="button">Read more</a>
			</section>
			<section class="adventage">
				<div class="icon-wrapper">
					<img src="../styles/assets/icons/ux.png" alt="Usable designs" class="icon">
				</div>
				<h3>Usable designs</h3>
				<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui sagittis.</p>
				<a href="#" class="button">Read more</a>
			</section>
			<section class="adventage">
				<div class="icon-wrapper"><img src="../styles/assets/icons/development.png" alt="Solid development" class="icon"></div>
				<h3>Solid development</h3>
				<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui sagittis.</p>
				<a href="#" class="button">Read more</a>
			</section>
	</div> <!-- advantages -->
</body>
</html>