<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Widget</title>
	<link rel="stylesheet" href="../styles/index.css" />
</head>
<body>
	<section class="adventage">
		<div class="icon-wrapper"><img src="../styles/assets/icons/development.png" alt="Dev" class="icon" /></div>
		<h2>Solid Development</h2>
		<p class="text-muted">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut ut perferendis harum fugit qui vel, laudantium provident similique amet distinctio molestiae optio obcaecati, eaque eligendi, aperiam impedit minus veniam inventore.
		</p>
		<a href="#" class="button">Read more</a>
	</section>
</body>
</html>