<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Blog Feed Entry</title>
	<link rel="stylesheet" href="../styles/index.css">
</head>
<body>
	<article class="blog-feed-entry clearfix">
		<div class="blog-feed-entry-image"><img src="../styles/assets/images/cover-1.jpg" alt="" width="132" height="94"></div>
		<div class="blog-feed-entry-content">
			<h4>Lorem ipsum dolor sit.</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<span>&nbsp;</span><a href="#" class="primary-link">Read more...</a></p>
			<time>01/01/2016 - 10:30</time>
		</div>
	</article>
</body>
</html>