<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Feeds Windget</title>
	<link rel="stylesheet" href="../styles/index.css">
	<style>
		body {
			margin: 20px;
		}
	</style>
</head>
<body>
	<div class="feeds clearfix">
		<!-- article.feed-entry*2>(div.feed-entry-image>img[src="../styles/assets/images/cover-$.jpg" width=130 height=100])+div.feed-entry-content>(h4>lorem4)+(p>lorem+span{&nbsp;}+a[href="#"].primary-link{Read more...})+span.date{01/01/2016 - 10:30} -->
		<section class="blog-feed">
			<h3>From our blog</h3>
			<article class="blog-feed-entry clearfix">
				<div class="blog-feed-entry-image"><img src="../styles/assets/images/cover-1.jpg" alt="" width="132" height="94"></div>
				<div class="blog-feed-entry-content">
					<h4>Lorem ipsum dolor sit.</h4>
					<p>Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus mauris. <span>&nbsp;</span><a href="#" class="primary-link">Read more...</a></p>
					<time>01/01/2016 - 10:30</time>
				</div>
			</article>
			<article class="blog-feed-entry clearfix">
				<div class="blog-feed-entry-image"><img src="../styles/assets/images/cover-2.jpg" alt="" width="132" height="94"></div>
				<div class="blog-feed-entry-content">
					<h4>Eum quis ratione dicta!</h4>
					<p>Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus mauris. <span>&nbsp;</span><a href="#" class="primary-link">Read more...</a></p>
					<time>01/01/2016 - 10:30</time>
				</div>
			</article>
			<a href="#" class="primary-link">Older entries</a>
		</section> <!-- blog-feed -->
		<section class="twitter-feed">
			<h3>Our Twitter feed</h3>
			<!-- TODO: refactor -->
			<article class="twitter-feed-entry">
				<span class="tweet-author">@Apptastico:</span>
				In <a href="#" class="primary-link">pellentesque.com</a> faucibus vestibulum. Nulla at nulla justo, eget Duis aliquet egestas <span class="primary-link">#purus</span> in <span class="primary-link">#blandit.</span><br>
				<time>01/01/2016 - 10:30</time>
			</article>
			<article class="twitter-feed-entry">
				<span class="tweet-author">@Apptastico:</span>
				In <a href="#" class="primary-link">pellentesque.com</a> faucibus vestibulum. Nulla at nulla justo, eget Duis aliquet egestas <span class="primary-link">#purus</span> in <span class="primary-link">#blandit.</span><br>
				<time>01/01/2016 - 10:30</time>
			</article>
			<article class="twitter-feed-entry">
				<span class="tweet-author">@Apptastico:</span>
				In <a href="#" class="primary-link">pellentesque.com</a> faucibus vestibulum. Nulla at nulla justo, eget Duis aliquet egestas <span class="primary-link">#purus</span> in <span class="primary-link">#blandit.</span><br>
				<time>01/01/2016 - 10:30</time>
			</article>
			<a href="#" class="primary-link">Follow us on twitter</a>
		</section>
	</div>
</body>
</html>