<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>We Design iOS apps Widget</title>
	<link rel="stylesheet" href="../styles/index.css" />
	<style>
		body {
			margin: 20px;
			background-color: #52626e;
		}
	</style>
</head>
<body>
	<div class="header-content">
		<div class="phone-mockup css-image">Phone mockup</div>
		<section class="header-banner">
			<h1>We design iOS apps</h1>
			<h4>Ut In Nulla Enim. Phasellus Molestie Magna Non Est Bibendum Non Venenatis ut In Nulla Enim. Phasellus Molestie.</h4>
			<p class="text-muted">Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie tempor. Suspendisse dictum feugiat.</p>
			<div class="action">
				<span class="button-info-wrapper">
					<a href="#" class="button-info">Request a quote</a>
				</span>
				<span class="left-wrapper">
					<span class="middle-word">&nbsp;or&nbsp;</span>
					<a href="#" class="link-info">See our current work</a>
				</span>
			</div>
		</section>
	</div>
</body>
</html>