<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Promo</title>
	<link rel="stylesheet" href="../libs/slick/slick/slick.css">
	<link rel="stylesheet" href="../libs/slick/slick/slick-theme.css">
	<link rel="stylesheet" href="../styles/index.css">
</head>
<body>
	<div class="partners-widget">
		<div class="carousel">
			<div class="carousel-items">
				<div class="carousel-item-wrapper">
					<div class="carousel-item">
						<img src="../styles/assets/icons/partners/promo-1.png" alt="Promo">
					</div>
				</div>
				<div class="carousel-item-wrapper">
					<div class="carousel-item">
						<img src="../styles/assets/icons/partners/promo-2.png" alt="Promo">
					</div>
				</div>
				<div class="carousel-item-wrapper">
					<div class="carousel-item">
						<img src="../styles/assets/icons/partners/promo-4.png" alt="Promo">
					</div>
				</div>
				<div class="carousel-item-wrapper">
					<div class="carousel-item">
						<img src="../styles/assets/icons/partners/promo-5.png" alt="Promo">
					</div>
				</div>
				<div class="carousel-item-wrapper">
					<div class="carousel-item">
						<img src="../styles/assets/icons/partners/promo-3.png" alt="Promo">
					</div>
				</div>
				<div class="carousel-item-wrapper">
					<div class="carousel-item">
						<img src="../styles/assets/icons/partners/promo-2.png" alt="Promo">
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="../libs/jquery-3.0.0.min.js"></script>
	<script src="../libs/slick/slick/slick.min.js"></script>
	<script>
		$(document).ready(function() {
			$('.carousel-items').slick({
				arrows: false,
				// autoplay: true,
				// autoplaySpeed: 1e3,
				cssEase: "ease-out",
				draggable: false,
				infinite: true,
				slidesToShow: 5,
				slidesToScroll: 2
			});
		});
	</script>
</body>
</html>