<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../styles/index.css">
</head>
<body>
<ul class="social-links clearfix">
	<li>
		<a href="facebook.com" class="social-link fb">facebook.com</a>
	</li>
	<li>
		<a href="twitter.com" class="social-link tw">twitter.com</a>
	</li>
	<li>
		<a href="linkedin.com" class="social-link li">linkedin.com</a>
	</li>
	<li>
		<a href="dribble.com" class="social-link db">dribble.com</a>
	</li>
</ul>
</body>
</html>