<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Twitter Feed Entry</title>
	<link rel="stylesheet" href="../styles/index.css">
</head>
<body>
	<article class="twitter-feed-entry">
		<span class="tweet-author">@Apptastico:</span>
		In <a href="#" class="primary-link">pellentesque.com</a> faucibus vestibulum. Nulla at nulla justo, eget Duis aliquet egestas <span class="primary-link">#purus</span> in <span class="primary-link">#blandit.</span><br>
		<time>01/01/2016 - 10:30</time>
	</article>
</body>
</html>