@import '../components/button-info';

.header-banner {
	line-height: 26px;
	width: 468px;

	h1 {
		font-size: 48px;
		margin-bottom: 22px;
		font-weight: bold;
	}

	h4 {
		color: #dcdcdc;
		margin-bottom: 10px;
	}

	p {
		margin-bottom: 24px;
	}

	h4, p {
		font-size: 15px;
		font-weight: 200;
	}
}