.link-info {
	color: #fff;

	&:before {
		display: inline-block;
		content: '';
		width: 16px;
		height: 13px;
		margin-right: 8px;
		background: url(../styles/assets/icons/monitor.png) no-repeat;
	}
}