.social-link-with-icon {
	@extend .css-image;
	display: inline-block;
	width: 30px;
	height: 30px;
}

.social-link {
	&.fb {
		@extend .social-link-with-icon;
		background-image: url(../styles/assets/icons/social/fb.jpg);
	}
	&.tw {
		@extend .social-link-with-icon;
		background-image: url(../styles/assets/icons/social/tw.jpg);
	}
	&.li {
		@extend .social-link-with-icon;
		background-image: url(../styles/assets/icons/social/li.jpg);
	}
	&.db {
		@extend .social-link-with-icon;
		background-image: url(../styles/assets/icons/social/db.jpg);
	}
}