// <article class="twitter-feed-entry">
// 	<span class="tweet-author">@Apptastico:</span>
// 	<span class="tweet-text">In <a href="#" class="primary-link">pellentesque.com</a> faucibus vestibulum. Nulla at nulla justo, eget Duis aliquet egestas</span>
// 	<span class="primary-link">#purus</span>
// 	<span>&nbsp;</span>
// 	<span class="tweet-text">in</span>
// 	<span>&nbsp;</span>
// 	<span class="primary-link">#blandit.</span><br>
// 	<span class="date">01/01/2016 - 10:30</span>
// </article>

.twitter-feed-entry {
	@extend .feed-entry;

	line-height: 1.8em;

	span {
		display: inline;
	}

	.tweet-author {
		color: #515151;
	}
}