@import '../components/blog-feed-entry';

.blog-feed {
    @extend .feed;
    h3:before {
        width: 20px;
        height: 20px;
        background-image: url(../styles/assets/icons/rss.jpg);
    }
    .primary-link {
        font-size: 13px;
    }
}
