.carousel-wrapper {
    position: relative;
    width: 1000px;
}

.carousel {
    overflow: hidden;
    .slick-arrow {
        top: 125px;
        @extend .button-arrow;
    }
    .slick-prev {
        left: -74px;
        &:before {
            background: url(../styles/assets/icons/arrow-left.png) 11px 9px no-repeat;
        }
    }
    .slick-next {
        right: -25px;
        &:before {
            background: url(../styles/assets/icons/arrow-right.png) 14px 9px no-repeat;
        }
    }
    .carousel-items {
        margin-right: -25px;
        margin-left: -25px;
        .carousel-item-wrapper {
            padding: 25px 25px;
            .carousel-item {
                img {
                    margin: 0 auto;
                }
            }
        }
    }
}
