@import './blog-feed';
@import './twitter-feed';

.feeds {
    margin-top: 95px;
    .blog-feed, .twitter-feed {
        float: left;
    }
    .blog-feed {
        width: 478px;
        margin-right: 110px;
        .blog-feed-entry {
            margin-bottom: 20px;
        }
    }
    .twitter-feed {
        width: 370px;
    }
}

/*
<div class="feeds clearfix">
    <section class="blog-feed">
        <h3>From our blog</h3>
        <article class="blog-feed-entry clearfix">
            <div class="blog-feed-entry-image"><img src="../styles/assets/images/cover-1.jpg" alt="" width="132" height="94"></div>
            <div class="blog-feed-entry-content">
                <h4>Lorem ipsum dolor sit.</h4>
                <p>Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus mauris. <span>&nbsp;</span><a href="#" class="primary-link">Read more...</a></p>
                <time datetime="2016-01-01">01/01/2016 - 10:30</time>
            </div>
        </article>
        <article class="blog-feed-entry clearfix">
            <div class="blog-feed-entry-image"><img src="../styles/assets/images/cover-2.jpg" alt="" width="132" height="94"></div>
            <div class="blog-feed-entry-content">
                <h4>Eum quis ratione dicta!</h4>
                <p>Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus mauris. <span>&nbsp;</span><a href="#" class="primary-link">Read more...</a></p>
                <time datetime="2016-01-01">01/01/2016 - 10:30</time>
            </div>
        </article>
        <a href="#" class="primary-link">Older entries</a>
    </section> <!-- blog-feed -->
    <section class="twitter-feed">
        <h3>Our Twitter feed</h3>
        <!-- TODO: refactor -->
        <article class="twitter-feed-entry">
            <span class="tweet-author">@Apptastico:</span>
            In <a href="#" class="primary-link">pellentesque.com</a> faucibus vestibulum. Nulla at nulla justo, eget Duis aliquet egestas <span class="primary-link">#purus</span> in <span class="primary-link">#blandit.</span><br>
            <time datetime="2016-01-01">01/01/2016 - 10:30</time>
        </article>
        <article class="twitter-feed-entry">
            <span class="tweet-author">@Apptastico:</span>
            In <a href="#" class="primary-link">pellentesque.com</a> faucibus vestibulum. Nulla at nulla justo, eget Duis aliquet egestas <span class="primary-link">#purus</span> in <span class="primary-link">#blandit.</span><br>
            <time datetime="2016-01-01">01/01/2016 - 10:30</time>
        </article>
        <article class="twitter-feed-entry">
            <span class="tweet-author">@Apptastico:</span>
            In <a href="#" class="primary-link">pellentesque.com</a> faucibus vestibulum. Nulla at nulla justo, eget Duis aliquet egestas <span class="primary-link">#purus</span> in <span class="primary-link">#blandit.</span><br>
            <time datetime="2016-01-01">01/01/2016 - 10:30</time>
        </article>
        <a href="#" class="primary-link">Follow us on twitter</a>
    </section>
</div>
*/