@import './blog-feed';
@import './twitter-feed';

.feeds {
    .blog-feed, .twitter-feed {
        float: left;
    }
    .blog-feed {
        width: 478px;
        margin-right: 110px;
        .blog-feed-entry {
            margin-bottom: 20px;
        }
    }
    .twitter-feed {
        width: 370px;
    }
}
