header {
    width: 995px;
    padding-top: 39px;
    padding-bottom: 63px;
    color: #fff;
    
    .logo {
        float: left;
        width: 137px;
        height: 38px;
        margin-right: 502px;
        background: url(../styles/assets/logo.png) no-repeat;
        @extend .css-image;
    }
    nav {
        margin-top: 6px;
    }
}
