header {
    position: relative;
    padding-top: 39px;
    padding-bottom: 63px;
    color: #fff;
    .logo {
        position: absolute;
        left: 0;
        width: 137px;
        height: 38px;
        background: url(assets/logo.png) no-repeat;
        @extend .css-image;
    }
    nav {
        position: absolute;
        top: 45%;
        right: 0;
    }
}

/*
<div class="top-wrapper">
    <div class="wrapper">
        <header>
            <div class="logo">Logo</div>
            <nav>
                <ul class="main-menu">
                    <li class="menu-item active"><a href="#">Home</a></li>
                    <li class="menu-item"><a href="#">About</a></li>
                    <li class="menu-item"><a href="#">Work</a></li>
                    <li class="menu-item"><a href="#">Contact</a></li>
                </ul>
            </nav>
        </header>
    </div>  <!-- wrapper -->
</div> <!-- top-wrapper -->
*/