.main-menu {
    .menu-item {
        padding: 6px 19px;
        a {
            font-size: 15px;
            color: inherit;
        }
        & + .menu-item {
            margin-left: 9px;
        }
        &.active, &:hover {
            border-radius: 13px;
            background-color: $deeper-blue;
            background-image: linear-gradient(0deg, lighten($deeper-blue, 20%) 20%, darken($deeper-blue, 80%));
            box-shadow: inset 0 2px 2px $semi-black, 0 1px 1px lighten($deeper-blue, 70%);
        }
    }
}
