.partners-widget {
    width: 100%;
    border-bottom: 1px solid #c3c3c3;
    background-color: #ececec;
    background-image: linear-gradient(#ececec, darken(#ececec, 2%));
    
    &.carousel-wrapper {
        .carousel {
            width: 976px;
            margin: 0 auto;
            .carousel-items .carousel-item-wrapper {
                padding: 15px 5px;
            }
        }
    }
}
