.partners-widget {
    position: relative;
    max-width: 1200px;
    border-bottom: 1px solid #c3c3c3;
    background-color: #ececec;
    background-image: linear-gradient(#ececec, darken(#ececec, 2%));

    .carousel-items {
    	padding: 0 60px;

    	.carousel-item-wrapper {
    		padding: 15px 5px;
    	}
    }
}
