.projects-widget {
    position: relative;
    margin-top: 7px;   // h3::before margin-top negative compensation
    h3 {
        margin-bottom: -5px;
    }
    h3::before {
        content: '';
        display: inline-block;
        width: 22px;
        height: 22px;
        margin-top: -10px;
        margin-right: 10px;
        background: url(../styles/assets/icons/projects.png);
        background-repeat: no-repeat;
    }
    .carousel-items {
        .carousel-item-wrapper {
            .carousel-item {
                overflow: hidden;
                margin: 0 auto;
                width: 220px;
                border: 3px solid #fff;
                box-shadow: 0 1px 2px #222;
                img {
                    width: 100%;
                    margin: 0 auto;
                }
            }
        }
    }
}
