@import '../components/button-info';

.what-we-do-widget {
    .phone-mockup {
    	float: left;
        font-size: 0;
        width: 390px;
        height: 450px;
        text-indent: -9999;
        background-image: url(../styles/assets/icons/iPhone.png);
        background-position: -110px -140px;
        margin-right: 115px;
        margin-top: -76px;
    }
    .banner {
        line-height: 26px;
        width: 980px;
        color: #fff;
        h1 {
            font-size: 48px;
            font-weight: bold;
            margin-top: 80px;
            margin-bottom: 22px;
        }
        h4 {
            margin-bottom: 10px;
            color: #dcdcdc;
            &, p {
                font-size: 15px;
                font-weight: 200;
            }
        }
        p {
            margin-bottom: 24px;
        }
        .action {
            position: relative;
            margin-top: 47px;
            .button-info-wrapper {
                vertical-align: middle;
            }
            .left-wrapper {
                display: inline-block;
                margin-left: 14px;
                padding-top: 6px;
                vertical-align: middle;
                .middle-word {
                    margin-right: 12px;
                }
            }
        }
    }
}
