.clearfix::before, .clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.wrapper {
    width: 976px;
    margin: 0 auto;
}

.top-wrapper {
    background-image: url(../assets/top-bg.png);
}

.mid-wrapper {
    padding-top: 95px;
    padding-bottom: 95px;
    background-image: linear-gradient(lighten(#ececec, 2%), white); 
}

header {
    color: #fff;
}

.css-image {
    font-size: 0;
    display: block;
    width: 0;
    height: 0;
    background-repeat: no-repeat;
}

// Components
@import '../components/feed-entry-prototype';
@import '../widgets/feed-prototype';
@import '../widgets/carousel-protorype';

// Widgets
@import '../widgets/main-menu';
@import '../widgets/what-we-do';
@import '../widgets/header';
@import '../widgets/partners';
@import '../widgets/adventages';
@import '../widgets/projects';
@import '../widgets/feeds';
@import '../widgets/social-links';