.clearfix::before, .clearfix::after {
  content: '';
  display: block;
  clear: both; }

.wrapper {
  max-width: 995px;
  margin: 0 auto; }

.top-wrapper {
  background-image: url(../assets/top-bg.png); }

header {
  color: #fff; }

.css-image, .what-we-do-widget .phone-mockup, header .logo, .social-link-with-icon, .social-links .social-link.fb, .social-links .social-link.tw, .social-links .social-link.li, .social-links .social-link.db {
  font-size: 0;
  display: block;
  width: 0;
  height: 0;
  background-repeat: no-repeat; }

body {
  font-family: "Helvetica Neue";
  font-weight: lighter; }

h1 {
  font-size: 48px;
  font-weight: bold;
  color: #fff; }

h2 {
  font-size: 36px;
  color: #4c5b66; }

h3 {
  font-size: 20px;
  color: #4b5a65; }

h4 {
  font-size: 15px;
  color: #5c5c5c; }

time {
  font-size: 11px;
  line-height: 20px;
  color: #b0b0b0; }

.primary-link {
  color: #3c92d0; }

.link-info {
  color: #fff;
  border-bottom: 1px solid #fff; }
  .link-info:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 12px;
    margin-right: 9px;
    background: url(../styles/assets/icons/monitor.png) no-repeat; }

.text-muted {
  color: #a4a4a4; }

.feed-entry, .blog-feed-entry, .twitter-feed-entry {
  font-size: 13px;
  color: #888; }
  .feed-entry:not(:last-child), .blog-feed-entry:not(:last-child), .twitter-feed-entry:not(:last-child) {
    margin-bottom: 28px; }

.feed-entry, .blog-feed-entry, .twitter-feed-entry {
  font-size: 13px;
  color: #888; }
  .feed-entry:not(:last-child), .blog-feed-entry:not(:last-child), .twitter-feed-entry:not(:last-child) {
    margin-bottom: 28px; }

.feed h3, .blog-feed h3, .twitter-feed h3 {
  margin-bottom: 19px; }

.feed h3:before, .blog-feed h3:before, .twitter-feed h3:before {
  content: '';
  display: block;
  float: left;
  width: 0;
  height: 0;
  margin-right: 10px;
  background-repeat: no-repeat; }

.feed .primary-link, .blog-feed .primary-link, .twitter-feed .primary-link {
  font-size: 13px; }

.carousel-wrapper {
  position: relative;
  width: 1000px; }

.button-arrow, .carousel .slick-arrow {
  width: 38px;
  height: 38px;
  border: 1px solid #c1c8cc;
  border-radius: 50%;
  background-color: #e3e7ea;
  background-image: radial-gradient(white, #e3e7ea), linear-gradient(#f2f3f5, #e3e7ea 90%); }
  .button-arrow::before, .carousel .slick-arrow::before {
    content: '';
    display: block;
    width: 38px;
    height: 38px;
    opacity: 1; }

.carousel {
  overflow: hidden; }
  .carousel .slick-arrow {
    top: 125px; }
  .carousel .slick-prev {
    left: -74px; }
    .carousel .slick-prev:before {
      background: url(../styles/assets/icons/arrow-left.png) 11px 9px no-repeat; }
  .carousel .slick-next {
    right: -35px; }
    .carousel .slick-next:before {
      background: url(../styles/assets/icons/arrow-right.png) 14px 9px no-repeat; }
  .carousel .carousel-items {
    margin-right: -25px;
    margin-left: -25px; }
    .carousel .carousel-items .carousel-item-wrapper {
      padding: 25px 25px; }
      .carousel .carousel-items .carousel-item-wrapper .carousel-item img {
        margin: 0 auto; }

.main-menu .menu-item a {
  font-size: 15px;
  display: inline-block;
  padding: 6px 19px;
  color: inherit; }

.main-menu .menu-item + .menu-item {
  margin-left: 9px; }

.main-menu .menu-item.active, .main-menu .menu-item:hover {
  border-radius: 13px;
  background-color: rgba(47, 47, 47, 0.2);
  background-image: linear-gradient(0deg, rgba(98, 98, 98, 0.2) 20%, rgba(0, 0, 0, 0.2));
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(226, 226, 226, 0.2); }

.main-menu .menu-item:hover {
  color: #eee;
  background-image: linear-gradient(0deg, rgba(124, 124, 124, 0.2) 20%, rgba(47, 47, 47, 0.2)); }

.what-we-do-widget .phone-mockup {
  float: left;
  width: 390px;
  height: 450px;
  margin-top: -76px;
  margin-right: 115px;
  background-image: url(../styles/assets/icons/iPhone.png);
  background-position: -110px -140px; }

.what-we-do-widget .banner {
  line-height: 26px;
  width: 980px;
  color: inherit; }
  .what-we-do-widget .banner h1 {
    margin-top: 80px;
    margin-bottom: 22px; }
  .what-we-do-widget .banner h4 {
    margin-bottom: 10px;
    color: #dcdcdc; }
    .what-we-do-widget .banner h4, .what-we-do-widget .banner h4 p {
      font-size: 15px;
      font-weight: 200; }
  .what-we-do-widget .banner p {
    margin-bottom: 24px; }
  .what-we-do-widget .banner .action {
    margin-top: 47px; }
    .what-we-do-widget .banner .action .button-info-wrapper {
      position: relative;
      display: inline-block;
      width: 202px;
      height: 46px;
      padding-top: 0;
      padding-right: 1px;
      padding-bottom: 1px;
      padding-left: 1px;
      vertical-align: middle;
      border-radius: 23px;
      background-image: linear-gradient(to bottom, #216ca0, #164667); }
      .what-we-do-widget .banner .action .button-info-wrapper .button-info:after {
        content: '';
        position: absolute;
        z-index: -3;
        bottom: 0;
        left: 20px;
        display: block;
        width: 160px;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.6);
        box-shadow: 0 0 30px 3px black; }
      .what-we-do-widget .banner .action .button-info-wrapper .button-info {
        font-size: 14px;
        font-weight: bold;
        position: absolute;
        padding: 10px 45px;
        color: #fff;
        border-radius: 23px;
        background-color: #3d94d1;
        box-shadow: inset 0 1px 2px -1px white, inset 0 -2px 10px -1px #205d88; }
    .what-we-do-widget .banner .action .left-wrapper {
      display: inline-block;
      margin-left: 14px;
      padding-top: 4px;
      vertical-align: middle; }
      .what-we-do-widget .banner .action .left-wrapper .middle-word {
        color: #fff;
        margin-right: 12px; }

header {
  position: relative;
  padding-top: 39px;
  padding-bottom: 63px;
  color: #fff; }
  header .logo {
    position: absolute;
    left: 0;
    width: 137px;
    height: 38px;
    background: url(assets/logo.png) no-repeat; }
  header nav {
    position: absolute;
    top: 45%;
    right: 0; }

/*
<div class="top-wrapper">
    <div class="wrapper">
        <header>
            <div class="logo">Logo</div>
            <nav>
                <ul class="main-menu">
                    <li class="menu-item active"><a href="#">Home</a></li>
                    <li class="menu-item"><a href="#">About</a></li>
                    <li class="menu-item"><a href="#">Work</a></li>
                    <li class="menu-item"><a href="#">Contact</a></li>
                </ul>
            </nav>
        </header>
    </div>  <!-- wrapper -->
</div> <!-- top-wrapper -->
*/
.partners-widget {
  position: relative;
  max-width: 1200px;
  border-bottom: 1px solid #c3c3c3;
  background-color: #ececec;
  background-image: linear-gradient(#ececec, #e7e7e7); }
  .partners-widget .carousel-items {
    padding: 0 60px; }
    .partners-widget .carousel-items .carousel-item-wrapper {
      padding: 15px 5px; }

.adventages {
  margin: 0 80px; }
  .adventages .adventage {
    float: left;
    width: 306px;
    text-align: center;
    color: #8395a2; }
    .adventages .adventage .icon-wrapper {
      position: relative;
      width: 134px;
      height: 134px;
      margin: 0 auto;
      border: 5px solid #8395a2;
      border-radius: 50%; }
      .adventages .adventage .icon-wrapper .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        transform: translate(-50%, -50%); }
    .adventages .adventage h3 {
      font-weight: 400;
      margin-top: 28px; }
    .adventages .adventage p {
      font-size: 14px;
      line-height: calc(1em + 5px);
      margin-top: 8px;
      margin-bottom: 36px;
      word-wrap: break-word; }
    .adventages .adventage .button {
      font-size: 13px;
      font-weight: bold;
      display: block;
      width: 115px;
      margin: 0 auto;
      padding-top: 12px;
      padding-right: 6px;
      padding-bottom: 13px;
      padding-left: 6px;
      color: #fefefe;
      border: 1px solid #337db8;
      border-radius: 3px;
      background-color: #5096ce;
      background-image: linear-gradient(#64a2d4, #5096ce);
      box-shadow: inset 0 1px 2px -1px white, inset 0 -2px 10px -1px #337db8;
      text-shadow: 0 -1.5px #2e6fa4; }
    .adventages .adventage:nth-child(2) {
      margin: 0 30px; }

.projects-widget {
  width: 1100px;
  margin-top: 10px; }
  .projects-widget h3 {
    margin-bottom: -5px; }
  .projects-widget h3::before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-top: -10px;
    margin-right: 10px;
    background: url(../styles/assets/icons/projects.png);
    background-repeat: no-repeat; }
  .projects-widget .carousel-items .carousel-item-wrapper {
    padding: 25px 0; }
    .projects-widget .carousel-items .carousel-item-wrapper .carousel-item img {
      border: 3px solid #fff;
      box-shadow: 0 1px 2px #ccc; }

.blog-feed-entry .blog-feed-entry-image {
  float: left;
  margin-top: 4px;
  margin-right: 30px;
  border: 3px solid #fff;
  box-shadow: 0 1px 2px #ccc; }

.blog-feed-entry .blog-feed-entry-content h4 {
  margin-bottom: calc((23px - 1em)/2); }

.blog-feed-entry .blog-feed-entry-content p {
  line-height: 23px; }

.blog-feed h3:before {
  width: 20px;
  height: 20px;
  background-image: url(../styles/assets/icons/rss.jpg); }

.twitter-feed-entry {
  line-height: 1.8em; }
  .twitter-feed-entry span {
    display: inline; }
    .twitter-feed-entry span.tweet-author {
      color: #515151; }

.twitter-feed h3 {
  margin-bottom: 16px; }

.twitter-feed .twitter-feed-entry:not(:last-child) {
  margin-bottom: 16px; }

.twitter-feed h3:before {
  width: 26px;
  height: 22px;
  background-image: url(../styles/assets/icons/twitter.jpg); }

.feeds .blog-feed, .feeds .twitter-feed {
  float: left; }

.feeds .blog-feed {
  width: 478px;
  margin-right: 110px; }
  .feeds .blog-feed .blog-feed-entry {
    margin-bottom: 20px; }

.feeds .twitter-feed {
  width: 370px; }

.social-link-with-icon, .social-links .social-link.fb, .social-links .social-link.tw, .social-links .social-link.li, .social-links .social-link.db {
  display: inline-block;
  width: 30px;
  height: 30px; }

.social-links li + li {
  margin-left: 7px; }

.social-links .social-link {
  float: left; }
  .social-links .social-link.fb {
    background-image: url(../styles/assets/icons/social/fb.jpg); }
  .social-links .social-link.tw {
    background-image: url(../styles/assets/icons/social/tw.jpg); }
  .social-links .social-link.li {
    background-image: url(../styles/assets/icons/social/li.jpg); }
  .social-links .social-link.db {
    background-image: url(../styles/assets/icons/social/db.jpg); }